html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body {
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.form-group .required::after {
    content: " *";
    color: red;
}

.form-row .required::after {
    content: " *";
    color: red;
}

.bg-nav {
    background-color: rgb(62, 67, 114);
}