/* html,
body {
    margin: 0;
    height: 100%;
    overflow: auto;
} */
body {
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: blue orange; /* scroll thumb and track */
}

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(172, 172, 172); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(26, 37, 82); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid rgb(128, 127, 127); /* creates padding around scroll thumb */
}
.form-group .required::after {
    content: " *";
    color: red;
}

.form-row .required::after {
    content: " *";
    color: red;
}
.text-color {
    color: rgb(197, 23, 127) !important;
}

.nav-link.active {
    color: rgb(255, 255, 255) !important;
}

.bg-nav {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 39%,
        rgba(98, 7, 73, 1) 72%,
        rgba(7, 30, 98, 1) 100%
    );
}

.sakura-img {
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
}
.sakura-home {
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
.sakura-login {
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
}
